{% extends "base.html" %}
{% block titulo %}DjangOTU{% endblock %}
{% load static %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">DjangOTU</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/vinibfranc/DjangOTU" role="button">Saiba mais »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Visualização de OTU table</h2>
            <p>A partir de uma OTU table, o framework Django é usado para exibir o conteúdo desta tabela e realizar filtragens</p>
            <p>Oi</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
        </div>
    </div>
    <hr>
</div> <!-- /container -->

{% endblock %}