{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS customizado -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}{% endblock %}</title>

</head>
<body>
    <!--HEADER-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">DjangOTU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'otu_table' %}">OTU table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
            </li>
          </ul>
        </div>
    </nav>

    <main role="main">
        {% block content %}
        {% endblock %}
    </main>

    <!--FOOTER-->
    <footer class="footer-distributed">
        <div class="footer-left">
            <img src="{% static 'img/neoprospecta.png' %}" width="300">
            <p class="footer-links">
                <a href="/">Home</a>
                ·
                <a href="https://www.neoprospecta.com/" target="_blank">Neoprospecta</a>
                ·
                <a href="https://www.biome-hub.com/" target="_blank">Biome-hub</a>
            </p>
            <p class="footer-company-name">Desenvolvido por Vinícius Franceschi &copy; 2020</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Av. Luiz Boiteux Piazza, 1302 - InovaLab</span> Florianópolis, SC, Brasil</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+55 48 3012-1774</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:institucional@neoprospecta.com">institucional@neoprospecta.com</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>Neoprospecta</span>
                A Neoprospecta é uma empresa de biotecnologia dedicada ao desenvolvimento e comercialização de análises microbiológicas inovadoras para mercados onde o diagnóstico rápido, preciso e sensível de micro-organismos seja crucial para a tomada de decisão.
            </p>
            <div class="footer-icons">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
            </div>
        </div>
	</footer>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script>
        $(function(){
            $('.navbar-nav a').each(function(){
                if ($(this).prop('href') == window.location.href) {
                    $( this ).parent( 'li' ).addClass( 'active' );
                }
            });
        });
    </script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable( {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                }
            } );
        });
    </script>
</body>
</html>